.nav {
  list-style: none;
  color: rgb(249, 249, 249);
  background-color: brown;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: sticky;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.link {
  text-decoration: none;
}
